[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/pistache"]
	path = lib/pistache
	url = https://github.com/oktal/pistache.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "lib/sock"]
	path = lib/sock
	url = https://github.com/kaspar030/sock.git
